In [1]:
import psycopg2
import time
from psycopg2 import OperationalError

print("‚è≥ Waiting for PostgreSQL to be ready...")
while True:
    try:
        conn = psycopg2.connect(
            dbname="books_db",             # actual DB name
            user="postgres",
            password="postgres",
            host="localhost",              # ‚úÖ external host
            port="15432",                  # ‚úÖ mapped port
        )
        conn.close()
        print("‚úÖ PostgreSQL is ready!")
        break
    except OperationalError as e:
        print("PostgreSQL not ready, retrying in 1 second...")
        print(e)
        time.sleep(1)

‚è≥ Waiting for PostgreSQL to be ready...
‚úÖ PostgreSQL is ready!

In [11]:
from sqlalchemy import create_engine
import pandas as pd

# Connection string for Docker PostgreSQL (host = localhost, port = 15432 from docker-compose)
DATABASE_URL = "postgresql://postgres:postgres@localhost:15432/books_db"

# Create SQLAlchemy engine
engine = create_engine(DATABASE_URL)

# Load all three tables into Pandas DataFrames
books_df = pd.read_sql("SELECT * FROM books", engine)
users_df = pd.read_sql("SELECT * FROM users", engine)
ratings_df = pd.read_sql("SELECT * FROM ratings", engine)

# Display basic info
print("‚úÖ Tables loaded:")
print(f"üìò Books: {len(books_df)} rows")
print(f"üë§ Users: {len(users_df)} rows")
print(f"‚≠ê Ratings: {len(ratings_df)} rows")

# Preview
books_df.head()

‚úÖ Tables loaded:
üìò Books: 5000 rows
üë§ Users: 10000 rows
‚≠ê Ratings: 9566 rows

,isbn,title,book_author,year_of_publication,publisher,image_url_s,image_url_m,image_url_l
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [1]:
from models.recommender import Recomender

rc=Recomender("postgresql://postgres:postgres@localhost:15432/books_db")
rc.cluster_author_eps=0.12
rc.get_data()
rc.pre_process()
rc.cluster_authors()
rc.make_matrix()
rc.train()

df=rc.books_df

Data loaded books rows=271360 users rows=278858 ratings rows=1031136

/Users/richarddvorak/Documents/GitHub/book_recomender/models/recommender.py:88: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['2000' '2003' '2000']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  filtered_dfiif.loc[:, "year_of_publication"] = filtered_dfiif["book_author"]

Batches:   0%|          | 0/3053 [00:00<?, ?it/s]

Cluster 1 count = 1

In [ ]:
res=rc.predict("0060973129")